@model IEnumerable<EFMVCTestMySQL.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
@if (!Model.Any())
{
    <p>no movies</p>
}
else
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
