@model IEnumerable<EFMVCTestMySQL.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>No Customers</p>
}
else
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>SignUp Fee</th>
                <th>Discount Rate</th>
                <th>Duration In Months</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.SignUpFee</td>
                    <td>@customer.MembershipType.DiscountRate</td>
                    <td>@customer.MembershipType.DurationInMonths</td>
                </tr>
            }
        </tbody>
    </table>
}


